<h3 id="back"><&nbsp;&nbsp;歌单</h3>
<div id="top">
    <div class="avimg">
        <!--<span></span>-->
        <img src="">
    </div>
    <div class="txt">
        <h3></h3>
        <span></span>
    </div>
</div>
<div id="disc">
    <div class="tagl">
    </div>
    <div class="cont fri">

    </div>
    <span class="xia"></span>
</div>
<div class="gap">
    歌曲列表
</div>
<ol id="avalist">

</ol>

<div id="music" style="display: none">
    <li class="musli">
        <span class="ind"></span>
        <div class="md">
            <h4 class="mn"></h4>
            <span class="nam"></span><span>-</span><span class="avt"></span>
        </div>
        <div class="ic"><img src="images/playgr.png" alt=""></div>
    </li>
</div>